@{
    ViewData["Title"] = "HomePage";
}

<div align="center">
    <h1>Paste the URL to be shortened</h1>
</div>

<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your long URL" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button">Create short URL</button>
            </div>
        </div>
    </div>
    <div class="col">
    </div>
</div>

<p>
    <b>Замечание:</b><br />
    <p>
    Это реализация тестового задания по ASP.NET Core, которое я нашел на просторах интернета.<br />
    Подробное описание вы можете найти здесь: <a href="https://github.com/GonarchX/ShortURL">Проект на GitHub</a>
    </p>
</p>
