@{
    ViewData["Title"] = "HomePage";
}

<div class="jumbotron">

    <div align="center">
        <h1>Paste the URL to be shortened</h1>
    </div>

    <form action="~/Home/ShortenedUrl">
        <p>Please paste your URL in box below</p>

        <div class="form-group">
            <input type="text" class="form-control" name="longURL" placeholder="Your long URL">
        </div>

        <P>Please specify length of the short URL</P>

        <select class="form-control form-control" name="tokenLength">
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>

        <label></label>
        <div>
            <button type="submit" class="btn btn-primary">Create short URL</button>
        </div>
    </form>
</div>

<p>
    <b>Примечание:</b><br />

    Это реализация тестового задания по ASP.NET Core, которое я нашел на просторах интернета, чтобы попрактиковаться в работе с ASP.NET Core MVC.<br />
    Подробное описание задания вы можете найти здесь: <a href="https://github.com/GonarchX/ShortURL">Проект на GitHub</a>
</p>