@{
    ViewData["Title"] = "Shortened URL";
}
<div class="jumbotron">
    <div align="center">
        <h2>Your shortened URL:</h2>
        <p>Use this link to share</p>
        <a asp-action="RedirectByToken" asp-route-token=@ViewBag.token>@ViewBag.shortUrl</a>
    </div>

    <p>
         <p>Long URL: <a href=@ViewBag.longUrl>@ViewBag.longUrl</a></p>
        <a href="@Url.Action("Index", "Home")">Create other shortened URL.</a>
    </p>
</div>