@{
    ViewData["Title"] = "ShortURLStats";
}

<h1>ShortURLStats</h1>

<div class="modal-body">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Token</th>
                    <th scope="col">Long URL</th>
                    <th scope="col">Date of creation</th>
                    <th scope="col">Number of clicks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Samso</td>
                    <td>Natto</td>
                    <td></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Tinor</td>
                    <td>Horton</td>
                    <td></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Mythor</td>
                    <td>Bully</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>